:root{
  --pincipal-10: #0a6bab;
  --secundario-20: #0e4973;
  --opcion1-30: #1b75af;
  --gris-40: #e3e9ea;
  --amarillo-50: #fbd906;
  --verde-45: #2ac363;
  --celeste-46: #599dc8;
  --grisoscuro-47: #445c64;
  --azuloscuro-48: #124970;
  --dorado-49: #dbb90e;
  
}
/*font 
Gotham Medium Regular
*/